<div class="card">
    <div class="card-header">
        Product List
    </div>
    <input type='text' />
    <h4>Filtered by: </h4>
    <div class='table-responsive'>
        <table class="table">
            <thead>
                <tr>
                    <th> </th>
                    <th> Product </th>
                    <th> Code </th>
                    <th> Available </th>
                    <th> Price </th>
                    <th> Star Rating </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>