<div class = 'card'>
    <div class = 'card-header'>
        <button (click)="navigateBack()" id="back-button">
            Back
        </button>
        {{state.product ? state.pageTitle + ' : ' + state.product?.name : state.pageTitle + ' : '}}
    </div>
    <div class= 'card-body' *ngIf="state.product">
            <ul class ="list-group"> 
                <li class="list-group-item"> Description --> {{state.product.description}}</li>
                <li class="list-group-item"> Rating --> {{state.product.starRating}}</li>
                <li class="list-group-item"> Price --> {{state.product.price | currency:'CAD':'symbol'}}</li>
                <li class="list-group-item"> Available  --> {{state.product.releaseDate}} </li>
                <li class="list-group-item"> Code --> {{state.product.code | uppercase | convertToSpaces:'-':' '}}</li>
                <li class="list-group-item"> Image --> <a href="{{state.product.imageUrl}}">Click Me</a> </li>
            </ul>
    </div>
</div>